---

export interface Props {
    centered?: boolean;
    title: string;
    author: string;
    img: string;
    href: string;
    target?: string;
}
const {centered = false, title, author, img, href, target } = Astro.props
---
<div class={`book ${centered ? "flex" : ""}`}>
    <a class="cover" href={href} {target}>
        <img src={img} alt={title} />
    </a>
    <div class="info">
    <h3 class="title">{title}
        <p class="author">- {author}</p>
    </h3>
    </div>    
</div>
<style>
    .book{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 1em;
        height: max-content;

    }
    .cover img{
        width: 106px;
        height: 156px;
        /* margin-left: auto; */
        /* margin-right: auto; */
        margin: auto;
    }
    .info {
        margin-top: 1em;
    }
    .info h3{
        font-size: 1em;
        margin: 0;
        text-align: left;
    }
    .author{
        position: relative;
        bottom: 0;
        text-align: left;
        font-size: 0.55em;
    }
</style>
